fastapi>=0.111.0
uvicorn>=0.30.1
rdflib>=7.0.0
qlever>=0.5.47
pydantic>=2.7.4
mcp==1.10.1
httpx
markdownify
langdetect
youtube-transcript-api
beautifulsoup4

PyJWT
cryptography
cloudscraper
minio
playwright
pypdf
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
markdown
